<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/users"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Users
      </a>
    </div>
    <div class="col-sm">
      <a href="/games"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Games
      </a>
    </div>
    <div class="col-sm">
      My games
    </div>
    <div class="col-sm">
      My friends
    </div>
  </div>
</div>
